<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Alta empleados</h5>
          <p class="category">Hecho por tus amigos de
            <a href="https://nucleoapp.com/?ref=1712">Squarepoint</a>
          </p>
        </div>
        <div class="card-body all-icons">
          <form>
            <div class="row">
              <div class="col">
                <label for="full_name_id" class="control-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Francisco">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Primer apellido</label>
                <input type="text" class="form-control" placeholder="García">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Segundo apellido</label>
                <input type="text" class="form-control" placeholder="García">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="state_id" class="control-label">Tipo documento</label>
                <select class="form-control" id="state_id">
                    <option value="1">DNI</option>
                    <option value="2">NIE</option>
                    <option value="3">Pasaporte</option>              
                </select>    
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Documento</label>
                <input type="text" class="form-control" placeholder="11111111F">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">NAF</label>
                <input type="text" class="form-control" placeholder="00/00000000/00">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Fecha nacimiento</label>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="state_id" class="control-label">Convenio</label>
                <select class="form-control" id="state_id">
                    <option value="1">Convenio 1</option>
                    <option value="2">Convenio 2</option>
                    <option value="3">Convenio 3</option>              
                </select>    
              </div>
              <div class="col">
                <label for="state_id" class="control-label">Categoría</label>
                <select class="form-control" id="state_id">
                    <option value="1">Categoría 1</option>
                    <option value="2">Categoría 2</option>
                    <option value="3">Categoría 3</option>              
                </select>    
              </div>
              <div class="col">
                <label for="state_id" class="control-label">Puesto</label>
                <select class="form-control" id="state_id">
                    <option value="1">Puesto 1</option>
                    <option value="2">Puesto 2</option>
                    <option value="3">Puesto 3</option>              
                </select>    
              </div>
              

            </div>
            <div class="row">
              <div class="col">
                <label for="state_id" class="control-label">Tipo vía</label>
                <select class="form-control" id="state_id">
                    <option value="1">Calle</option>
                    <option value="2">Avenida</option>
                    <option value="3">Plaza</option>              
                </select>    
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Vía</label>
                <input type="text" class="form-control" placeholder="evergreen terrace">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Número</label>
                <input type="text" class="form-control" placeholder="742">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Ciudad</label>
                <input type="text" class="form-control" placeholder="La Font d'en Carròs">
              </div>
              <div class="col">
                <label for="full_name_id" class="control-label">Código postal</label>
                <input type="text" class="form-control" placeholder="46717">
              </div>
            </div>
            
            
            <div class="form-group"> <!-- Submit Button -->
                <button type="submit" class="btn bg-danger">Finalizar</button>
            </div>     
            
        </form>
        </div> 
      </div>
    </div>
  </div>
</div>
